.blueYellow {
  stroke: blue;
  stroke-width: 4;
  fill: yellow;
}

#mySvg {
  border: 2px solid #8cc;
  background-color: #eff;
}

.buildingBlock {
  fill: #ccc;
  stroke: red;
  stroke-width: 0.05px;
}
